.lnb_container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 3px;
}
.lnb nav {
  display: flex;
}
.lnb nav li {
  border-left: 1px solid lightgray;
}
.lnb nav li:nth-child(1) {
  border-left: none;
}
.lnb nav li a {
  padding: 0 8px;
  text-decoration: none;
  font-size: 11px;
  color: #777;
  line-height: 15px;
  font-family: dotum, 돋움, '굴림', Gulim, Tahoma, sans-serif;
}
.lnb nav li a:hover {
  text-decoration: underline;
}

.header_container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.header h1 img {
  width: 214px;
  height: 80px;
  vertical-align: middle;
}
.search_inner {
  width: 400px;
  height: 32px;
  border-bottom: 4px solid #e63740;
  display: flex;
}
.search_input_keyword {
  width: 355px;
  height: 26px;
  margin: 4px 0 0 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: 10px 6px;
  border: 0 none;
  outline: 0 none;
  color: #000000;
  font-size: 18px;
  font-family: 'Malgun Gothic', '맑은고딕', '굴림', Gulim, dotum, '돋움', Tahoma,
    sans-serif;
  line-height: 25px;
  font-weight: bold;
  vertical-align: top;
}
.search_btn_ok {
  width: 22px;
  height: 29px;
  border: none;
  background: url(//pics.auction.co.kr/pc/common/header/header.png) -212px -90px
    no-repeat;
  text-indent: -10000em;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: auto;
}
.promo {
  margin-left: auto;
}
.promo img {
  width: 148px;
  height: 60px;
}

.gnb {
  width: 100%;
  height: 47px;
  margin-bottom: -2px;
  background: url(//pics.auction.co.kr/pc/common/header/header.png) repeat-x 0 -275px;
  font-size: 12px;
  line-height: 120%;
  font-family: '굴림', Gulim, Tahoma, sans-serif;
  color: #333;
}
.gnb_container {
  display: flex;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}
.gnb_container .layout_left {
  display: flex;
  align-items: center;
}
.gnb_container .layout_left nav {
  display: flex;
}
.all_category {
  margin-top: 15px;
}
.all_category a {
  height: 17px;
  padding: 14px 12px 13px 13px;
  text-decoration: none;
}
.all_category span {
  display: inline-block;
  height: 17px;
  background: url(//pics.auction.co.kr/pc/common/header/header.png) 0 0
    no-repeat;
  vertical-align: middle;
  text-indent: -10000em;
  overflow: hidden;
  width: 98px;
  background-position: 0 -760px;
}
.primary {
  margin-left: 6px;
}
.primary li {
  margin-top: 15px;
  padding: 0 10px;
  background: url(//pics.auction.co.kr/pc/common/header/header.png) -140px -160px
    no-repeat;
  position: relative;
}
.primary li a {
  display: block;
  background: url(//pics.auction.co.kr/pc/common/header/header.png) 0 0
    no-repeat;
  text-indent: -10000em;
  overflow: hidden;
  width: 61px;
  height: 13px;
}
.primary li .primary_1 {
  background-position: -140px -760px;
}
.primary li .primary_2 {
  background-position: -140px -780px;
}
.primary li .primary_3 {
  background-position: -140px -840px;
}
.primary li .primary_4 {
  background-position: -140px -820px;
}
.bnr_smileclub_premium {
  display: inline-block;
  position: absolute;
  top: -24px;
  left: 7px;
  width: 84px;
  height: 22px;
  background: url(//pics.auction.co.kr/pc/common/header/header.png) 0 -1613px no-repeat;
  text-indent: -9999px;
}
.gnb_container .layout_right {
  display: flex;
}
.corenavi {
  position: relative;
}
.navi_opener {
  position: relative;
  display: inline-block;
  height: 17px;
  padding: 14px 12px 13px 13px;
  text-decoration: none;
  z-index: 2;
}
.corenavi a.navi_opener > span {
  width: 76px;
  background-position: 0 -840px;
  display: inline-block;
  height: 17px;
  background: url(//pics.auction.co.kr/pc/common/header/header.png) 0 0
    no-repeat;
  vertical-align: middle;
  text-indent: -10000em;
  overflow: hidden;
}
.corenavi.navi_member a.navi_opener > span {
  width: 76px;
  background-position: 0 -840px;
}
.corenavi.navi_latest a.navi_opener > span {
  width: 94px;
  background-position: 0 -900px;
}
.gnb .corenavi.navi_allmenu .navi_dropdown {
  width: 155px;
}
.gnb .corenavi .navi_dropdown {
  position: absolute;
  /* top: 43px; */
  top: 24px;
  left: 0;
  background: #fff;
  font-size: 12px;
  line-height: 120%;
  font-family: '굴림', Gulim, Tahoma, sans-serif;
  color: #333;
  z-index: 1;
}
.allmenu {
  position: relative;
  width: 153px;
  border: 1px solid #2f3345;
  border-bottom: none;
  background: #454c5f;
  height: 307px;
}
.allmenu > ul > li > a {
  padding: 0;
  display: block;
  width: 153px;
  height: 33px;
  position: relative;
  z-index: 5;
  background: url(//pics.auction.co.kr/pc/common/header/header.png) no-repeat 0
    0;
  overflow: hidden;
  line-height: 1;
  text-indent: -1000px;
  font-size: 0;
}
.allmenu a.allmenu_cate10 {
  background-position: 0 -397px;
}
.allmenu a.allmenu_cate01 {
  background-position: 0 -430px;
}
.allmenu a.allmenu_cate02 {
  background-position: 0 -464px;
}
.allmenu a.allmenu_cate03 {
  background-position: 0 -498px;
}
.allmenu a.allmenu_cate04 {
  background-position: 0 -532px;
}
.allmenu a.allmenu_cate05 {
  background-position: 0 -566px;
}
.allmenu a.allmenu_cate06 {
  background-position: 0 -600px;
}
.allmenu a.allmenu_cate07 {
  background-position: 0 -634px;
}
.allmenu a.allmenu_cate08 {
  float: left;
  width: 68px;
  background-position: 0 -700px;
  cursor: pointer;
}
.allmenu a.allmenu_cate09 {
  float: left;
  width: 85px;
  background-position: -68px -700px;
  cursor: pointer;
}
